
# Created by https://www.gitignore.io/api/java-web
# Edit at https://www.gitignore.io/?templates=java-web

### Java-Web ###
## ignoring target file
target/
webservice/
build/
bin/
libs/
tmp/
*.class
.classpath
.settings/
.project
.metadata
# End of https://www.gitignore.io/api/java-web
